/* Design navbar */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px  2%;
    background: #24252A;
}

li,a{
    color: #dcdde1;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.logo{
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.nav_links{
    list-style: none;
    margin-left: 50px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}